<h5 id="sso-label"></h5>
<script type="text/javascript">
    const targetUrl = "${targetUrl!}";
    const redirectUrl = "${redirectUrl!}";
    const appId = "${appId!}";
    const ssoType = "${ssoType!}";
    const fromMsg = "${fromMsg!}";

    if (ssoType == 'feishu_sso') {
        document.getElementById('sso-label').innerHTML = '飞书 sso 登录中，请稍等';
        window.location.href='https://open.feishu.cn/open-apis/authen/v1/index?redirect_uri=' + encodeURIComponent(redirectUrl) + '&app_id=' + appId + '&state=' + fromMsg;
    }
    else if (ssoType == 'coremail_sso') {
        document.getElementById('sso-label').innerHTML = 'core mail sso 登录中，请稍等';
        if (fromMsg && fromMsg == "T") {
            window.location.href=targetUrl;
        }
        else {
            window.open(targetUrl);
            document.getElementById('sso-label').innerHTML = '北汽集团邮件系统已在新的浏览器窗口打开';
            setTimeout(function () {
                window.close();
            }, 1000);
        }
    }

</script>
